/* Mutual Styling  */
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.main-head {
  text-align: center;
  font-size: 2rem;
  margin-top: 100px;
}
.main-link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.main-link:hover {
  color: rgb(200, 195, 248);
}
/* Page title  */
.page-titles {
  text-align: center;
  justify-self: center;
  align-self: center;
}

/* searchbar */
.TextInput {
  width: 50%;
  border: 1px solid darkgray;
  padding: 10px;
  margin-bottom: 0px;
  margin-left: 3px;
  margin-top: 5px;
}
/* Individual styling /////////////////////////////  */
/* Navigation Bar  */
@keyframes animatedBackground {
  from {
    background-position: 0 -70px;
  }
  to {
    background-position: 700% -70px;
  }
}
#navbar {
  color: black;
  justify-content: space-evenly;
  background-image: url(/img/Navbar.PNG);
  background-position: 0px -100px;
  background-repeat: repeat;
  animation: animatedBackground 30s linear infinite;
  padding: 10px;
}
#navbar .link {
  padding: 10px;
  background-color: rgb(183, 178, 233);
  border-radius: 10%;
  margin: 5px;
  font-size: large;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.routineView,
.activities {
  margin: 5px;

  text-align: center;
  justify-self: center;
  align-self: center;
  border: 1px black solid;
  border-radius: 5px;
}
#activityedit {
  text-align: start;
  justify-self: flex-start;
  align-self: flex-start;
}
.activityForm {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.activity {
  margin: 10px;
  background-color: rgb(190, 190, 190);
  padding: 5px;
}

.routineCreator,
.routineGoal {
  color: rgb(0, 0, 0);
  font-style: italic;
  margin: 5px;
}


.button {
  text-decoration: none;
  padding: 3px;
  margin: 10px;
  background-color: lightgray;
  border-radius: 10%;
  color: black;
}

#new-routine-heading {
  text-align: center;
  margin: 20px;
}

#new-routine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
button.input-create-routine {
  margin: auto;
}
.input-create-routine {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  margin: 5px;
  text-align: center;
}
input.activities {
  width: 50px;
}
#my-routines-label {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#activity-label {
  color: rgb(83, 83, 83);
}
.my-routines {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.routines-results,
.activities-results {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  text-align: center;
}

.routine,
.routine-link {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  margin: 5px;
  text-align: center;
}

.activities-results {
  margin-top: 20px;
}
.main-login {
  text-align: center;
  margin-top: 50px;
}
.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sign-in-box {
  width: 200px;
  margin: 10px auto 10px auto;
  text-align: center;
}

.routine-link {
  text-decoration: none;
  color: black;
}

.routine-link:hover {
  color: rgb(200, 195, 248);
}
.CreateActivity {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid black;
  background-color: rgb(219, 219, 219);
  width: 100%;
}


hr {
  margin: 10px 0px 10px 0px;
}

.activities {
  text-align: center;
  margin: 10px auto 10px auto;
}
